:root {
  --white: #fff;
  --light: #f0f0f0;
  --light-grey: #cdcdcd;
  --dark-grey: #9e9e9e;
  --dark: #1c1c1c;
  --blue: #5984c0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--dark);
  background: var(--light);
  min-height: 100vh;
}
