.headerWrapper {
  background: var(--dark);
}

.headerContainer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 12px 32px;
  line-height: 0;
}

.logo {
  width: 120px;
  height: 35px;
}

@media (max-width: 767px) {
  .headerContainer {
    text-align: center;
  }
}
